<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="color: rgb(159, 216, 211);">Together</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="fundo">
<div class="fundo2">

  <ion-card button [routerLink]="['/sobre']">
    <ion-card-header>
      <img src="/assets/mmb.jpeg" />
      <h4>Marques Bassetto Moraes</h4>
    </ion-card-header>

    <ion-card-content>
      onde sua saúde é nossa prioridade!
    </ion-card-content>
  </ion-card>

  <ion-card button [routerLink]="['/sobre']">
    <ion-card-header>
      <img src="/assets/tog1.jpeg" />
      <h4>Clínica de Saúde Together</h4>
    </ion-card-header>

    <ion-card-content>
      a clínica perfeita para seu filho!
    </ion-card-content>
  </ion-card>


</div>
</div>
</ion-content>
